<header>
  <img src="logo.svg" alt="ngx-mq-logo" />

  <h1>Playground</h1>
</header>

<mat-list role="list">
  <mat-list-item>
    <b>
      Is Mobile: <span class="mq-result">{{ isMobile() }}</span>
    </b>
    - Viewport width <= {{ breakpoints["md"] }}px
  </mat-list-item>

  <mat-list-item>
    <b>
      Is Tablet: <span class="mq-result">{{ isTablet() }}</span>
    </b>
    - Viewport width between {{ breakpoints["md"] }}px and
    {{ breakpoints["lg"] }}px
  </mat-list-item>

  <mat-list-item>
    <b>
      Is Desktop: <span class="mq-result">{{ isDesktop() }}</span>
    </b>
    - Viewport width >= {{ breakpoints["lg"] }}px
  </mat-list-item>

  <mat-list-item>
    <b>
      Is Landscape: <span class="mq-result">{{ isLandscape() }}</span>
    </b>
  </mat-list-item>
</mat-list>
